@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.attendance-checkbox {
    margin-left: 35px;
}

th {
    color: white;
    font-family: "Poppins";
    size: 12px;
}

td {
    color: black;
    font-family: "Poppins";
    size: 12px;
}

h1 {
    font-family: "Poppins";
    font-weight: 530;
    margin-top: 20px;
    margin-left: -1px;
    margin-bottom: 10px;
    padding: 14px; 
    background: #17a2b8; 
    color: white; 
    border-width:3px; 
    border: 2px solid #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

body {
    margin-left: 15px;
    margin-right: 15px;
}




.registration-box {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    font-family: "Poppins";
    margin-top: 8px;
    
    position: relative;
}
